/* Custom Flight Details Modal Styling */
.custom-flight-details-modal {
    font-family: Arial, sans-serif;
  }
  
  .custom-modal-header {
    background-color: #004080; /* Replace with your color */
    color: white;
    padding: 10px;
    border-bottom: none;
  }
  
  .custom-modal-title {
    font-weight: bold;
    margin: 0;
  }
  
  .custom-modal-body {
    padding: 20px;
    background-color: #f9f9f9; /* Replace with your color */
  }
  
  .custom-modal-body p {
    margin: 5px 0;
  }
  
  .stops-details, .passengers-details {
    margin-top: 20px;
  }
  
  .stop-detail, .passenger-detail {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .custom-modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 15px 20px;
    border-top: none;
    background-color: #f8f8f8; /* Replace with your color */
  }
  
  .btn-primary {
    background-color: #007bff; /* Replace with your color */
    border-color: #007bff; /* Replace with your color */
  }
  
  .btn-primary:hover {
    background-color: #0056b3; /* Replace with your color */
    border-color: #0056b3; /* Replace with your color */
  }
  